[submodule "cmake"]
	path = cmake
	url = https://github.com/biojppm/cmake
	branch = master
[submodule "extern/debugbreak"]
	path = src/c4/ext/debugbreak
	url = https://github.com/biojppm/debugbreak
	branch = master
[submodule "src/c4/ext/fast_float"]
	path = src/c4/ext/fast_float
	url = https://github.com/fastfloat/fast_float
	branch = main
